$bgcolor: #8ccff7;
$color-one: #4e89ae;
$color-two: #43658b;
$color-three: #ed6663;
$color-four: #ffa372;
$hover: #444;

@mixin center-element {
  display: flex;
  justify-content: center;
}

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 481px) and (max-width: 800px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 801px) and (max-width: 1024px) {
      @content;
    }
  }
}

.image {
  background-color: $bgcolor;
  @include center-element();
  @include breakpoint(small);
  content: url("https://via.placeholder.com/200");
}

.lines {
  padding-top: 50px;
  padding-bottom: 50px;
}

.lines :hover {
  background-color: $hover;
}

.l1 {
  height: 5vh;
  background-color: $color-one;
}

.l2 {
  height: 5vh;
  background-color: $color-two;
}

.l3 {
  height: 5vh;
  background-color: $color-three;
}

.l4 {
  height: 5vh;
  background-color: $color-four;
}

.circles {
  padding-top: 50px;
  padding-bottom: 50px;
  @include center-element();
}

.circles :hover {
  background-color: $hover;
}

.c1 {
  height: 70px;
  width: 70px;
  background-color: $color-one;
  border-radius: 70px;
  display: inline-block;
  margin-right: 10px;
}

.c2 {
  height: 80px;
  width: 80px;
  background-color: $color-two;
  border-radius: 80px;
  display: inline-block;
  margin-right: 10px;
}

.c3 {
  height: 90px;
  width: 90px;
  background-color: $color-three;
  border-radius: 90px;
  display: inline-block;
  margin-right: 10px;
}

.c4 {
  height: 100px;
  width: 100px;
  background-color: $color-four;
  border-radius: 100px;
  display: inline-block;
  margin-right: 10px;
}

footer {
  background-color: $bgcolor;
  height: 50px;
}
