/*formatting the page as per requrements*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

/*using flex to arrange the navigation bar and formatting the elements in it such as logo, search bar and menu*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e90ff;
  padding: 15px 15px;
  margin-bottom: 6px;
}

nav h2 {
  color: #f4f4f4;
  margin-right: 6.5rem;
}

.logo {
  font-weight: 800;
  cursor: pointer;
}

.search {
  width: 300px;
  height: 35px;
  font-size: 18px;
  padding: 10px;
  border: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1vh;
}

/*for media query requirement at a certain viewpoint*/
.menucontainer {
  display: none;
}

/*formatting footer*/
footer {
  text-align: center;
  padding: 40px 40px;
}

/*formatting movie content such as images, text and headings*/
.moviecontent {
  background-color: #fff;
  margin: 5px;
  box-shadow: 1px 1px 5px rgb(167, 167, 167);
}

.leftcontainer img {
  max-width: 100%;
}

.rightcontainer img {
  max-width: 100%;
  width: 220px;
  height: 240px;
}

.leftcontainer h3 {
  padding: 10px 12px 6px 12px;
}

.leftcontainer p {
  padding: 0px 12px;
  line-height: 20px;
  text-align: justify;
}

.rightcontainer h3 {
  padding: 1px 1px;
}

.rightcontainer p {
  padding: 3px 1px;
  line-height: 22px;
}

/*formatting the buttons*/
button {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 10px 1px 2px auto;
  border: none;
  border-radius: 2px;
}

.leftcontainer button {
  margin: 10px 12px 12px auto;
}

.topcontainer .rightcontainermoviecontent:last-child button {
  margin: 53px 1px 2px auto;
}

/*arranging the items in required manner i.e. to the left and right by setting left and right containers*/
.moviescontainer {
  display: flex;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
}

.leftcontainer {
  display: flex;
  flex-basis: 500px;
  height: fit-content;
}

.rightcontainer {
  display: flex;
  flex-direction: column;
  flex-basis: 410px;
}

/*adding containers to the top and bottom of the left container to arrange accordingly*/
.topcontainer,
.bottomcontainer {
  display: flex;
}

.rightcontainermoviecontent {
  flex: 1;
  padding: 10px 10px;
}

/*adding media queries at different viewpoints and formatting items to adjust according to requirements using flex*/
@media (min-width: 801px) and (max-width: 1024px) {
  .topcontainer,
  .bottomcontainer {
    flex-direction: column;
  }

  .rightcontainer {
    flex-basis: 250px;
  }

  .leftcontainer {
    flex-basis: 480px;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .moviescontainer {
    flex-direction: column;
    padding: 1rem;
  }

  .rightcontainer img {
    width: auto;
    height: auto;
  }

  .leftcontainer {
    flex-basis: 480px;
    height: auto;
  }

  .navitems,
  .searchcontainer {
    display: none;
  }

  .menucontainer {
    display: block;
  }

  nav h2 {
    margin-right: 2px;
  }
}

@media (max-width: 480px) {
  .moviescontainer {
    flex-direction: column;
  }

  .topcontainer,
  .bottomcontainer {
    flex-direction: column;
  }

  .rightcontainer img {
    width: auto;
    height: auto;
  }

  .navitems,
  .searchcontainer {
    display: none;
  }

  .menucontainer {
    display: block;
  }

  nav h2 {
    margin-right: 2px;
  }
}
