/*setting variables for colors used in the page*/
$bgcolor: #8ccff7;
$color-one: #4e89ae;
$color-two: #43658b;
$color-three: #ed6663;
$color-four: #ffa372;
$hover: #444;

/*adding mixin for center alignment*/
@mixin center-element {
  display: flex;
  justify-content: center;
}

/*adding mixin for each breakpoint where the elements change in anyway*/
@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 481px) and (max-width: 800px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 801px) and (max-width: 1024px) {
      @content;
    }
  } @else if $point == above {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == vertical {
    @media (max-width: 621px) {
      @content;
    }
  }
}

/*formatting header and image*/
.container {
  background-color: $bgcolor;
  @include center-element();
}

/*formatting lines and giving the height and color, adding hover*/
.lines {
  padding-top: 50px;
  padding-bottom: 50px;
}

.lines :hover {
  background-color: $hover;
}

.l1 {
  height: 5vh;
  background-color: $color-one;
}

.l2 {
  height: 5vh;
  background-color: $color-two;
}

.l3 {
  height: 5vh;
  background-color: $color-three;
}

.l4 {
  height: 5vh;
  background-color: $color-four;
}

/*formatting circles, giving the radius, width, height and color. adding hover and adjusting display of the circles*/
.circles {
  padding-top: 50px;
  padding-bottom: 50px;
  @include center-element();
}

.circles :hover {
  background-color: $hover;
}

.c1 {
  height: 70px;
  width: 70px;
  background-color: $color-one;
  border-radius: 70px;
  display: inline-block;
  margin-right: 10px;
}

.c2 {
  height: 80px;
  width: 80px;
  background-color: $color-two;
  border-radius: 80px;
  display: inline-block;
  margin-right: 10px;
}

.c3 {
  height: 90px;
  width: 90px;
  background-color: $color-three;
  border-radius: 90px;
  display: inline-block;
  margin-right: 10px;
}

.c4 {
  height: 100px;
  width: 100px;
  background-color: $color-four;
  border-radius: 100px;
  display: inline-block;
  margin-right: 10px;
}

/*formatting footer*/
footer {
  background-color: $bgcolor;
  height: 50px;
}

/*applying the breakpoints using mixin*/
@include breakpoint(small) {
  .image300,
  .image400 {
    display: none;
  }
}
@include breakpoint(medium) {
  .image200,
  .image400 {
    display: none;
  }
}
@include breakpoint(large) {
  .image200,
  .image300 {
    display: none;
  }
}
@include breakpoint(above) {
  .image200,
  .image300 {
    display: none;
  }
}

/*arranging the circles vertically at a certain viewpoint*/
@include breakpoint(vertical) {
  .circles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
